html,
body,
#root,
div.App {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.navbar {}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrap {
  width: 100%;
}