html,
body,
#root,
div.App {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.navbar {}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-wrap {
  width: 100%;
}

.shameless-plug {
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
}